.position-absolute {
  display: block;
  position: absolute;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.outline {
  outline: 1px solid #A9A9A9;
}

.padding {
  padding: 20px;
}
