.address-map {
  position: relative;
  min-width: 320px;

  &__decorative-element:before, &__decorative-element:after{
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 50%;
  }

  &__decorative-element:before, &__decorative-element:after {
    height: 55px;
  }

  &__decorative-element:before {
    left: 0;
    background-image: linear-gradient(to right top, transparent 50%, #ffffff 50%);
  }

  &__decorative-element:after {
    right: 0;
    background-image: linear-gradient(to left top, transparent 50%, #ffffff 50%);
  }
}

@media @tablet-widths {
  .address-map {
    &__iframe {
      height: 380px;
    }

    &__decorative-element:before, &__decorative-element:after {
      height: 75px;
    }
  }
}

@media @desktop-widths {
  .address-map {

    &__iframe {
      height: 500px;
    }

    &__decorative-element:before, &__decorative-element:after {
      height: 100px;
    }
  }
}