.fieldset {
  .outline();
  .padding();

  &__input {
    width: 280px;
    height: 63px;
    border: 2px solid #e5e5e5;
    margin: 15px auto;
  }

  &__checkbox-block {
    margin: 10px auto;
    text-align: left;
  }

  &__devices-element {
    text-align: left;
  }

  &__radio {
    margin: 15px auto;
  }

  &__textarea {
    width: 280px;
    height: 201px;
    border: 2px solid #e5e5e5;
    text-align: center;
  }

  &__submit-btn {
    width: 280px;
    height: 63px;
    margin: 40px auto;
  }
}