.nav-menu {
  display: none;

  &__list-link {
    color: #ffffff;
    font-family:"opensans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
}

@media @desktop-widths {
  .nav-menu {
    height: 110px;
    background-color: rgba(0, 0, 0, 0.36);
    display: flex;
    flex-direction: row-reverse;

    &__list {
      display: flex;
      justify-content: flex-start;
      width: 700px;
      height: 50px;
      margin-top: 30px;
    }

    &__list-link {
      display: block;
      color: #ffffff;
      width: 150px;
      padding: 17px 5px;
    }
  }
}