.page-footer {
  min-width: 320px;

  &__copyright {
    color: #000000;
    .margin-block-footer();
  }

  &__copyright{
    fill: #d22856;
  }

  &__copyright:hover {
    fill: #283645;
  }

  &__copyright:active {
    fill: #bec2c7;
  }

  &__copyright-list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__copyright-text {
    display: block;
    width: 100px;
    padding-top: 10px;
    font-size: 14px;
  }

  &__container {
    display: none;
  }
}

@media @tablet-widths {
  .page-footer {
    margin-top: 20px;

    &__container {
      display: flex;
      justify-content: space-between;
      height: 100px;
    }

    &__copyright {
      width: 250px;
      height: 60px;
    }

    &__copyright-list {
      margin-top: 11px;
      margin-bottom: 0;
    }

    &__copyright-text {
      font-size: 18px;
      padding-right: 20px;
      padding-top: 5px;
    }

    &__page-footer-inner-container {
      display: flex;
      justify-content: space-between;
    }

    &__copyright-logo {
      display: block;
      width: 30px;
    }

    &__logo-htmlacademy {
      color: #d22856;
    }

    &__logo-htmlacademy:hover {
      color: #000000;
    }

    &__logo-htmlacademy:active {
      color: #dddfe1;
    }
  }
}

@media @desktop-widths {
  .page-footer {
    margin-top: 40px;
  }
}