.photo-upload {
  .outline();
  .padding();

  &__tools {
    margin: 30px auto;
  }

  &__tools-list li{
    .inline-block();
  }

  &__link {
    display: block;
    width: 280px;
    height: 55px;
    border: 1px solid #000000;
    margin: 20px auto;
  }
}