.slider {
  &__list {
    overflow: hidden;
    width: 320px;
    margin: 0 auto;
  }

  &__control {
    margin: 16px auto;
    display: flex;
    justify-content: center;
  }

  &__control-element {
    width: 6px;
    height: 6px;
    border: 2px solid #ffffff;
    background-color: #bec2c7;
    border-radius: 50%;
    margin: 0 6px;
  }

  &__control-element--active {
    border: 3px solid #283645;
  }

  &__control--price {
    margin: 27px auto;
  }
}

@media @tablet-widths {
  .slider {
    &__list {
      width: 660px;
    }

    &__control {
      margin: 22px auto;
    }

    &__control--price {
      display: none;
    }
  }
}

@media @desktop-widths {
  .slider {

    &__list {
      width: 650px;
      margin: 0 auto;
    }

    &__list--table {
      width: 960px;
    }

    &__control {
      display: none;
    }
  }
}